/* ========================================================================= */
/* MAIN CSS CONTENT FOR WHOLE SITE */
/* ========================================================================= */
/* Style page content */

.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 0px;
}

body {
    margin: 0px auto;
    background-color: #D3D0CB;
    width: 95%;
}

a {
    color: #003333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 1.5em;
    font-family:'Georgia', sans-serif;
    color: #1B2021;
}

h2 {
  font-family: 'Georgia', sans-serif;
  font-weight: lighter;
}

ul li {
  font-family: 'Helvetica', serif;
}

ul {
  list-style: none;
}

p {
    line-height: 1.4em;
    font-family: 'Helvetica', serif;
}

/* ========================================================================= */
/* single page nav */
/* ========================================================================= */
/* This hides all pages */
.page {
    display: none;
}

/* This displays the first page */
.default {
    display: block;
}

/* This displays the page corresponding to the one you clicked on */
:target {
    display: block;
}

/* This hides the default page when another page is clicked */
:target ~ .default {
    display: none;
}

/* ========================================================================= */
/* empty containers for forced spacing */
/* ========================================================================= */
.gap-20 {
  width:100%;
  height:20px;
}

.gap-5 {
  width:100%;
  height:5px;
}

.blurb {
    max-width : 700px;
    word-wrap: break-word;
}

/* ========================================================================= */
/* buttons */
/* ========================================================================= */
.btn {
 					border: 2px solid #1B2021;
					background-color: #D3D0CB;
  				color: #1B2021;
  				border-radius: 5px;
  				padding: 14px 28px;
					font-family: Helvetica;
  				font-size: 16px;
  				cursor: pointer;
				}

				.mybtn {
    			border-color: #FFFFFF;
    			color: white;
				}

				a.button {
					border: 2px solid #1B2021;
					background-color: #D3D0CB;
  				color: #1B2021;
  				border-radius: 13px;
  				padding: 14px 28px;
					font-family: Helvetica;
  				font-size: 18px;
    			text-decoration: none;
				}
/* ========================================================================= */
/* navigation bar */
/* ========================================================================= */
.sidenav {
  font-family: 'Georgia', sans-serif;
  width: 160px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #D3D0CB;
  overflow-x: hidden;
}

/* The navigation menu links */
.sidenav a {
  padding: 5px 0px 0px 20px;
  text-decoration: none;
  font-family: 'Georgia', sans-serif;
  font-size: 25px;
  color: #292E1E;
  display: block;
}

nav ul li{
    display: inline;
    margin-right: 20px;
}

nav ul {
    font-family:'Helvetica', sans-serif;
    padding: 0px;
    font-weight: bold;
}

