/* ================================================================================================= */
/* MAIN CSS CONTENT FOR WHOLE SITE */
/* ================================================================================================= */

body {
    margin: 60px auto;
    background-color: #D3D0CB;
    width: 95%;
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-size: 1.2em;
}

nav ul li{
    display: inline;
    margin-right: 20px;
}

a {
    color: #003333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
}

footer {
    margin-right: 20px;
    text-align: right;
    border-top: 2px solid black;
    font-size: .8em;
}

/* ================================================================================================= */
/* navigation bar */
/* ================================================================================================= */

.sidenav {
  width: 160px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #D3D0CB;
  overflow-x: hidden;
  padding-top: 10px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #292E1E;
  display: block;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .main {margin-left: 140px;}
  .sidenav {padding-top: 15px; width: 140px;}
  .sidenav a {font-size: 16px;}
}

/* ================================================================================================= */
/* Philosophy accordian
/* ================================================================================================= */
.accordion {
  background-color: #D3D0CB;
  cursor: pointer;
  padding: 22px;
  font-size: 3em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  color: #1B2021;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  font-size: 1.5em;
  padding: 0 18px;
  background-color: #D3D0CB;
  display: none;
  overflow: hidden;
}

.panel ul{
  list-style: none;
}
