<div class="sidenav">
  <a href="/about" {% if page.url == "/about/" %}style="color:#003333;"{% endif %}>About</a>
  <a href="/files/Oxton Resume.pdf">Résumé</a>
  <a href="/philosophy" {% if page.url == "/philosophy/" %}style="color:#003333;"{% endif %}>Philosophy</a>
  <a href="/coding" {% if page.url == "/coding/" %}style="color:#003333;"{% endif %}>Coding</a>
  <!--<a href="/DnD" {% if page.url == "/DnD/" %}style="color:#003333;"{% endif %}>Dungeons</a>-->
  <!--<a href="/music" {% if page.url == "/music/" %}style="color:#003333;"{% endif %}>Music</a>-->
  <!--<a href="/fashion" {% if page.url == "/fashion/" %}style="color:#336633;"{% endif %}>Fashion</a>-->
  <a href="mailto:opo.xton@gmail.com">Contact</a>
</div>
