<div class="sidenav">
  <a href="/" {% if page.url == "/" %}style="color:#336633;"{% endif %}>Home</a>
  <a href="/about" {% if page.url == "/about/" %}style="color:#336633;"{% endif %}>About</a>
  <a href="/files/Oxton Resume.pdf">Résumé</a>
  <a href="/philosophy" {% if page.url == "/philosophy/" %}style="color:#336633;"{% endif %}>Philosophy</a>
  <a href="/blog" {% if page.url == "/blog/" %}style="color:#336633;"{% endif %}>Blog</a>
  <a href="/music" {% if page.url == "/music/" %}style="color:#336633;"{% endif %}>Music</a>
  <a href="/fashion" {% if page.url == "/fashion/" %}style="color:#336633;"{% endif %}>Fashion</a>
  <a href="/blog">Contact</a>
</div>
