<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="gap-5"></div>
			{% include navigation.html %}
			<div class="main">
			{{ content }}

			</div><!-- /.container -->
			<div class="gap-5"></div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:opo.xton@gmail.com">opo.xton@gmail.com</a></li>
	        		<li>226-606-2855</li>
				</ul>
			</footer>
		</body>
	</html>
